bottle==0.12.25
certifi==2023.5.7
charset-normalizer==3.1.0
cssselect==1.2.0
idna==3.4
importlib-metadata==6.8.0
lxml==4.9.2
Markdown==3.4.3
pyquery==2.0.0
requests==2.31.0
urllib3==2.0.3
WeRoBot==1.13.1
xmltodict==0.13.0
zipp==3.15.0
